flask
tensorflow
pillow
numpy

HOW TO RUN LOCALLY
1.Clone the repository:
git clone [https://github.com/your-username/digit-recognizer.git]
cd digit-recognizer

2.Install Dependencies:
pip install -r requiremets.txt

3.Run the Flask application:
python app.py

4.Open in browser:
Navigate to http://127..0.1:5000
